---
interface Props {
  icon: string;
  title: string;
}

const { icon, title } = Astro.props;
---

<h3 class="font-light text-xl text-indigo-700 flex items-center gap-xs">
  <span class="material-symbols-outlined text-sm">
    {icon}
  </span>
  {title}
</h3>
